.modal {
  display: flex;
  justify-content: center;
  align-items: center;

  main {
    display: flex;
    align-items: center;
    flex-direction: column;

    padding: 15px;

    max-width: 700px;
    background: $white;
    color: $gray;

    font-family: Roboto;

    &:focus {
      outline: none;
    }

    a {
      text-decoration: none;
    }

    .modal-info {
      display: flex;
      align-items: center;
      flex-direction: column;

      svg {
        color: $primary;
        margin: 15px 0;
      }

      h1 {
        font-weight: 500;
        font-size: 20pt;
      }

      p {
        font-size: 13pt;
        text-align: center;
        max-width: 80%;
        margin: 20px 0;
      }
    }

    .modal-buttons {
      display: flex;

      div {
        margin: 15px;
      }
    }
  }
}
